@font-face {
	font-family: "caslon-bold";
	src: url("../fonts/ACaslonPro-Bold.otf");
}
@font-face {
	font-family: "caslon-bold-italic";
	src: url("../fonts/ACaslonPro-BoldItalic.otf");
}
@font-face {
	font-family: "caslon-italic";
	src: url("../fonts/ACaslonPro-Italic.otf");
}
@font-face {
	font-family: "caslon-reg";
	src: url("../fonts/ACaslonPro-Regular.otf");
}
@font-face {
	font-family: "caslon-semi-bold";
	src: url("../fonts/ACaslonPro-Semibold.otf");
}
@font-face {
	font-family: "caslon-semi-bold-italic";
	src: url("../fonts/ACaslonPro-SemiboldItalic.otf");
}
@font-face {
	font-family: "montserrat";
	src: url("../fonts/Montserrat-Black.ttf");
}
@font-face {
	font-family: "montserrat-italic";
	src: url("../fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
	font-family: "montserrat-bold";
	src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
	font-family: "montserrat-bold-italic";
	src: url("../fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
	font-family: "montserrat-extra";
	src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
	font-family: "montserrat-extra-italic";
	src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
	font-family: "montserrat-extra-light";
	src: url("../fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
	font-family: "montserrat-extra-light-italic";
	src: url("../fonts/Montserrat-ExtraLightItalic.ttf");
}
@font-face {
	font-family: "montserrat-light";
	src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
	font-family: "montserrat-italic";
	src: url("../fonts/Montserrat-Italic.ttf");
}
@font-face {
	font-family: "montserrat-light-italic";
	src: url("../fonts/Montserrat-LightItalic.ttf");
}
@font-face {
	font-family: "montserrat-medium";
	src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
	font-family: "montserrat-medium-italic";
	src: url("../fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
	font-family: "montserrat-regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "montserrat-semibold";
	src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
	font-family: "montserrat-semibold-italic";
	src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
	font-family: "montserrat-thin";
	src: url("../fonts/Montserrat-Thin.ttf");
}
@font-face {
	font-family: "montserrat-thin-italic";
	src: url("../fonts/Montserrat-ThinItalic.ttf");
}
