header{
    position: absolute;
    width:100%;
    top:50px;
    z-index: 10;
    &:before{
        content: "";
        position: absolute;
        top: -50px;
        width:1px;
        height: 60px;
        background-color: $main;
        @include tab{
            top: -20px;
            left:30%;
            height: 150px;
        }
    }
    @include xl{
        top:25px;
    }
    @include tab{
        top: 20px;
        padding: 0 25px 0 35px !important;
    }
    a, p{
        color: $white;
        
    }
    .slogan{
        p{
            font-family: "caslon-bold";
        }
        @include tab{
            display: none;
        }
    }
    .header__burger{
        display: none;
        @include tab{
            display: block;
        }
        span{
            width: 32px;
            height: 2px;
            background-color: $white;
            display: block;
            margin:5px;
        }
    }
    nav{
        @include tab{
            display: none;
        }
        a{
            font-size: clamp(16px, 1.2vw, 18px);
            font-family: "caslon-bold";
        }
        li{
            margin-left: 30px;
            @include xl{
                margin-left: 20px;
            }
            &:first-child{
                margin-left: 0;
            }
            .nav-site-logo{
                width: 80px;
            }
        }
    }
    .reg-auth{
        margin-left: 55px;
        span{
            margin-left: 15px;
            @include uppercase;
            @include tab{
                display: none;
            }
            font-family: "montserrat-semibold";
        }
        @include tab{
            background-color: transparent;
            padding: 15px;
            padding-left: 25px;
            margin:0;
            path{
                fill: $white;
            }
        }
    }
    .mob-logo{
        display: none;
        @include tab{
            display: block;
            width: 75px;
            img{
                width: 100%;
            }
        }
    }

}