.countries{
    padding-top: 70px;
    padding-bottom: 130px;
    position: relative;
    @include tab{
        padding-bottom: 50px;
    }
    &:before{
        content:"";
        position: absolute;
        left:-215px;
        top:50%;
        transform: translateY(-50%);
        width:500px;
        height: 500px;
        border-radius: 50%;
        border: 1px solid $main;
        @include xl{
            left:-240px;
        }
        @include lg{
            display: none;
        }
    }    
    &:after{
        content: "";
        width:200px;
        height: 2px;
        position: absolute;
        background-color: $contact;
        left:10px;
        top: 50%;
        transform: translateY(-50%);
        @include lg{
            display: none;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
       
        &::after{
            content: "";
            width:21px;
            height:21px;
            background-color: $contact;
            position: absolute;
            left:35px;
            top: 55%;
            border-radius: 50%;
            transform: translateY(-50%);
            @include xl{
                left:110px;
            }
            @include rwd(1400){
                left:150px;
            }
            @include lg{
                display: none;
            }
        }
    }
    @include sm{
        padding-top: 40px;
        padding-bottom: 52px;
    }
    .swiper-wrapper{
        width:50%;
        float: right;
        max-height: 550px;
        @include lg{
            width:100%;
            float:none;
            margin-top: 65px;
            height: initial;
        }
        .countries__slide{
            position:relative;
            @include lg{
                position: static;
            }
            &__img{
                width:100%;
                height: calc(100% - 22px);
                object-fit: cover;
                @include lg{
                    height: 210px;
                }
            }
            .tour-status{
                position: absolute;
                top: 25px;
                left:25px;
                font-family: "montserrat-medium";
                @include lg{
                    display: none;
                }
            }
            &__content{
                position:absolute;
                bottom: 0px;
                padding:40px;
                margin:0 25px;
                background-color: $milkWhite;
                p{
                    font-family: "montserrat-medium";
                    margin-bottom: 40px;
                    @include lg{
                        margin-bottom: 20px;
                    }
                }
                @include lg{
                    position: static;
                    margin:0;
                    padding:0;
                    margin-top: 20px;
                    background-color: transparent;
                }
            }
            a{
                display: inline-flex;
                align-items: center;
                font-family: "caslon-bold";
                img{
                    margin-left: 16px;
                    width:18px;
                }
            }

        }
    }
    .countries__pgn{
        right: initial;
        left:0 !important;
        width:30% !important;
        @include xl{
            width: 40% !important;
        }
        @include rwd(1440){
            width: 45% !important;
        }
        span{
            display: block !important;
            text-transform: capitalize;
            text-align:right;
            
            // justify-content: flex-end;  
        }
        @include lg{
            display: flex;
            align-items: center;
            top:0 !important;
            width:100% !important;
            height: 70px !important;
            text-align: left;
            transform: initial !important;
            overflow-x: auto;
            span{
                display: inline-block !important;
                top: 0 !important;
                left: 0 !important;
            }
        }
        
    }
    .swiper-pagination-bullet {
        border-radius: 0;
        width: auto;
        font-family: "caslon-bold";
        font-weight: 700;
        height: fit-content;
        font-size: 64px;
        font-size: clamp(35px, 1.2vw, 64px);
        color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        padding: 0;
        background: transparent;
        left: -35% !important;
        @include lg{
            font-size: 14px;
            margin: 5px !important;
        }
    }
    .swiper-pagination-bullet-active {
        position: relative;
        &:before{
            display: none;
        }
        left: 0 !important;
        color: $secondary;
        font-size: clamp(75px, 1.2vw, 144px);
        // font-size: 90px;
        @include xl{
            left: -10% !important;
        }
        @include lg{
            font-size: 32px;
            left:0 !important;
        }
    }
    .swiper-pagination-bullet-active-main,.swiper-pagination-bullet-active-next{
        color:rgba(0, 0, 0, 0.5);
        @include lg{
            // font-size: clamp(35px, 1.2vw, 64px);
            color:rgba(0, 0, 0, 0.2);
        }
    }
    [aria-current="true"]{
        color: $secondary;
    }
}