$main: #E9B520;
$pgn:#F3DEA2;
$secondary: #111111;
$white: #FFFFFF;
$contact: #761A14;
$grey: #E2E2E2;
$milkWhite :#F9F4E4;

$fireColor: rgb(255,80,0);
$fireColorT: rgba(255,80,0,0);
$dur: 1s;
$blur: 0.02em;
$fireRad: 3em;
$parts: 50;
$partSize: 5em;

$xl: 1600px;
$lg: 1280px;
$tab: 1024px;
$sm: 700px;

@mixin rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: #{$xl}) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: #{$lg}) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: #{$tab}) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: #{$sm}) {
    @content;
  }
}
@mixin maxcolumn($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin uppercase() {
  text-transform: uppercase;
  font-feature-settings: "case" on;
}

@mixin scrollSetup($thumbcolor, $width: 2px, $bgcolor: transparent) {
  &::-webkit-scrollbar {
    width: $width;
    background-color: $bgcolor;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: $thumbcolor;
  }
  &::-webkit-scrollbar-track {
    margin: 15px 0;
    background-color: $bgcolor;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 28px;
  font-size: 14px;
  // font-family: firago;
  cursor: pointer;
  font-weight: 500;
  color: $secondary;
  background-color: $main;
  span {
    color: $secondary;
    font-size: 14px;
    // font-family: firago;
    font-weight: 500;
    margin-right: 12px;
  }
  path {
    fill: $secondary;
  }
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-pagination-bullet{
  background: #F3DEA2;
  --swiper-theme-color: #E9B520;
  opacity: 0.9;
  margin: 8px !important;
  position: relative;
}
.swiper-pagination-bullet-active{
  position: relative;
  &:before{
    content:url("../img/icons/pgn-circle.svg");
    position: absolute;
    top: -5.25px;
    right: -2.9px;
    width:16px;
    height: 16px;
    
  }
  background:#E9B520;
}
.colored-word{
  color: $main;
}