@import "vars";
@import "fonts";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	border: 0;
	resize: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	color: $secondary;
}
html {
	scroll-behavior: smooth;
}
body.mob-menu {
	overflow-x: hidden;
}

@import "header";
@import "aside";
@import "main-slider";
@import "main-services";
@import "main-countries";
@import "tours";
@import "about-us";
@import "concept";
@import "contact";
@import "tours-inside";
@import "reg-auth";
@import "footer";
