@import "vars";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  border: 0;
  resize: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: $secondary;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 0 240px;

  @include xl {
    padding: 0 180px;
  }
  @include rwd(1440){
    padding:0 130px;
  }
  @include lg {
    padding: 0 60px;
  }
  @include tab {
    padding: 0 35px;
  }
  @include sm{
    padding: 0 15px;
  }
}


@import "header";
@import "main-slider";
@import "main-services";
@import "main-countries";
@import "tours";
@import "about-us";
@import "footer";